body{
    background-color:rgb(124, 124, 124)
   } 

body{
    background-image: url(https://github.com/Supajohn/module4/tombstone.png); /* Picture is a tombstone. */
    background-repeat: no-repeat;
    background-position: left;
}


p {text-align: center;
    color: rgb(255, 224, 177); /* text color is beige ish */
}

body {
max-width: 90em;
margin: 0 auto 0 auto;
}

table, th, td {
border-collapse: collapse;
border: 1px solid #000;
padding: 1em;
}

p             
{
font-size: 110%; 
width: 105%; /* Font and with is 105% and 110% */
}

h1{background-color: lightblue

}
